// 数据库配置
const config = {
  // 数据库名
  database: '',
  // 用户名
  username: '',
  // 密码
  password: '',
  // 数据库主机
  host: '',
  // 数据库端口号
  port: 3306,
  // 为保持数据表命名规范，故在此统一配置表名前缀
  table: {
    prefix: 't_nps_'
  }
};

module.exports = config;
